{% extends 'base.html' %}

{% block title %}Gas Utility Service || Login{% endblock %}




{% block content %}
    {%if user.is_authenticated%}
    <div class="welcome">
        <h1>Welcome, {{ user.get_full_name}}. Thanks for logging in.</h1>
        <div>
            <a class="  " href="/">Generate Service Requests</a>
            <a class="  " href="/">Status of Service Request</a>
        </div>

    </div>
    {%else%}
    <div class=" welcome login">
        <form method="post">
        {%csrf_token%}

            <div>
                <h4>Login</h4>
            </div>
            <div>
               <label for="">Username</label>
               <input type="text" name="uname" id="">
            </div>    
            <div>
                <label for="">Password</label>
                <input type="password" name="pass" id="">
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
        <div>
            <p>not registered yet ?</p>
            <a href="/auth/signup/">Signup</a>
        </div>
    </div>
    {%endif%}
{% endblock %}